body {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container::after,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1056px;
    margin-left: auto;
    margin-right: auto;
}

h1, h3, p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
}

h1{
  font-size: 38px;
  margin-bottom: 10px;
  color: #ffffff;
}

h2{
  margin: 0;
  padding: 0 0 11px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 0.625em;
  font-weight: 300;
  color: #0f5f5c;
}

p{
  font-size: 14px;
  line-height: 1.571em;
}

a{
  font-family: 'Montserrat', sans-serif;
}
