.button {
	display: inline-block;
	padding: 15px 20px;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;

	color: #ffffff;
	background-color: #6fb048;
	border-radius: 2px;
}

.button:hover {
background-color: rgba(255,255,255,.35);
}
.button:focus {}
.button.is-active {}

.btn-petite{
	padding: 10px 15px;
	background-color: rgba(255,255,255,.35);
}

.btn-petite:hover{
	background-color: #6fb048;
}

.btn-large{
	padding: 15px 45px;
	font-size: 14px;
}

.btn-product{
	padding: 13px 30px;
	background-color: #83a7a5;
}

.download-btn{
	padding: 13px 25px;
	font-size: 13px;
}

.download-btn:hover{
	background-color: #83a7a5;
}

@media only screen and (max-width: 768px){
	.btn-petite{
		display: block;
		background-color: #0f5f5c;
    padding: 15px 10px;
	}
}
