.card {
  display: inline-block;
  vertical-align:top;
  max-width: 48.011363%;
}
.card-image img {
    display: block;
    width: 100%;
}

.card-icon {}
.card-title {
  display: inline-block;
  vertical-align:top;
}
.card-content {}
.card-description p{
  color: #83a7a5;
}

.section-greeting .card-description p{
  font-size: 16px;
  line-height: 1.5em;
  color: #ffffff;
  margin-bottom: 22px;
}

.card-header {}
.card-body {}
.card-footer {}
.card-hover {}

.card-top {}
.card-right {}
.card-left {}
.card-bottom {}

.card:hover .card-hover {}

.card-feature{
  display: inline-block;
  vertical-align:top;
}

@media only screen and (max-width: 1024px){
  .card-title,
  .card-description,
  .card-btn{
     text-align: center;
  }
}
