.card {
  display: inline-block;
  vertical-align:top;
  max-width: 48.011363%;
}
.card-image img {
    display: block;
    width: 100%;
}

.title-decoration:after{
  content: '';
  display: inline-block;
  border-bottom: 1px solid #6fb048;
  width: 65px;
}

.card-content {}
.card-description p{
  color: #83a7a5;
}

.section-greeting .card-description p{
  font-size: 16px;
  line-height: 1.5em;
  color: #ffffff;
  margin-bottom: 22px;
}

.card-feature{
  display: inline-block;
  vertical-align:top;
  text-align: center;
}

.card-feature-items{
  margin: 0 -10px;
  max-width: 100%;
  font-size: 0;
}

.card-feature .card-icon{
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  margin-bottom: 25px;
}

.card-item{
  display: inline-block;
  vertical-align:bottom;
  width: 33.33%;
  padding: 0 10px;
}

.card-feature h3{
  color: #0f5f5c;
  font-size: 16px;
}

.card-feature .card-title{
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px){
  .card-title,
  .card-description,
  .card-btn{
     text-align: center;
  }
}

@media only screen and (min-width: 767px){
  .card {
    max-width: 100%;
  }
}
