.header{
  background: url(../images/bg-header.jpg) no-repeat;
  background-size: cover;
}

.section-greeting{
  padding: 20px 0;
  height: 575px;
  display: flex;
  align-items: center;
}

.section {
  padding: 85px 0;
}
.section-title {
  text-align: center;
  margin-bottom: 52px;
}
.section-header {}
.section .section-body {
  padding: 15px 0;
}

.section .card-title{
  margin-bottom: 10px;
}

.section-decoration{
  text-align: center;
  padding-top: 2px;
}

.items-decoration{
  display: inline-block;
  vertical-align:top;
}

.box-decoration{
  content:"";
  position: relative;
  bottom: 0;
  left: 45px;
  display: inline-block;
  width: 2px;
  height: 90px;
  background-color: #f2f2f2;
}

.block-decoration{
  content:"";
  position: relative;
  bottom: 0;
  display: inline-block;
  width: 90px;
  height: 2px;
  background-color: #f2f2f2;
}

.section-feature-secondary{
  padding: 42px 0 0;
}

.section-feature-secondary .card-title{
  margin: 0 0 19px;
}

@media only screen and (max-width: 1024px){
  .section-greeting{
     justify-content: center;
     height: 350px;
  }

  .section{
    padding: 30px;
  }
}
@media only screen and (max-width: 768px){

  .section-decoration{
    display: none;
  }
}
