.header{
  background: url(../images/bg-header.jpg) no-repeat;
  background-size: cover;
}

.section-greeting{
  padding: 20px 0;
  min-height: 575px;
  display: flex;
  align-items: center;
}

.section {}
.section-title {}
.section-header {}
.section-body {}

@media only screen and (max-width: 1024px){
  .section-greeting{
     justify-content: center;
  }
}

@media only screen and (max-width: 767px){
  .section-greeting{
  }
}
