.header{
  background: url(../images/bg-header.jpg) no-repeat;
  background-size: cover;
}

.section-greeting{
  padding: 20px 0;
  height: 575px;
  display: flex;
  align-items: center;
}

.section {
  padding: 85px 0 73px;
}
.section-title {
  text-align: center;
  margin-bottom: 52px;
}
.section-header {}
.section .section-body {
  padding: 15px 0;
}

.section-decoration{
  text-align: center;
  padding-top: 2px;
}

.items-decoration{
  display: inline-block;
  vertical-align:top;
}

.box-decoration{
  content:"";
  position: relative;
  bottom: 0;
  left: 45px;
  display: inline-block;
  width: 2px;
  height: 90px;
  background-color: #f2f2f2;
}

.block-decoration{
  content:"";
  position: relative;
  bottom: 0;
  display: inline-block;
  width: 90px;
  height: 2px;
  background-color: #f2f2f2;
}

.section-feature-secondary{
  padding: 42px 0 0;
}

.section-feature-secondary .card-title{
  margin: 0 0 19px;
}

.section-responsive,
.section-details{
  background-color: #eef1ec;
  padding-top: 72px;
}

.section-responsive .section-title{
  margin-bottom: 17px;
}

.section-box{
  display: flex;
  min-height: 680px;
  align-items: center;
}

.section-details{
  padding-top: 64px;
}

.section-details-box{
  min-height: 443px;
}

@media only screen and (max-width: 1024px){
  .section-greeting{
     justify-content: center;
     height: 350px;
  }

  .section{
    padding: 30px;
  }

  .section-box{
    min-height: 500px;
  }
}
@media only screen and (max-width: 768px){

  .section-feature{
    border-bottom: 2px solid #f2f2f2;
  }

  .section-decoration{
    display: none;
  }

  .section-feature-secondary .card-feature-items{
    margin: 0;
  }

  .section-responsive{
    padding-top: 30px;
  }

  .section-box{
    display: block;
    height: auto;
  }

  .section-box{
    margin: 15px 0;
    min-height: 370px;
  }

  .section-details {
    padding: 20px 0;
  }
}
